/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Work Sans", sans-serif;
}
.linear-style {
  color: #ff42a5;
}

/* header style  */
header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 130px;
  align-items: center;
}
.nav-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-title img {
  width: 70px;
  height: 35px;
}
.nav-title h3 {
  font-size: 35px;
  font-weight: 700;
  color: #0b0223;
}
.nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
.nav li {
  list-style: none;
  color: #3c354f;
  font-size: 16px;
  font-weight: 500;
}

.nav-btn {
  padding: 18px 24px;
  border-radius: 8px;
  color: #3c354f;
  font-size: 16px;
  font-weight: 500;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  margin-left: 24px;
  margin-right: 16px;
}

/* goat section style  */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 130px 0px 130px;
}
/* .banner-content{
  background: url("images/Group\ 14.png");
} */
.banner-title h3 {
  font-size: 2.3rem;
  font-weight: 600;
}
.banner-title h1 {
  font-size: 75px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}
.banner-description {
  margin-bottom: 30px;
}
.banner-description p {
  margin-bottom: 12px;
}
.content {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
}
.fa-regular {
  margin-right: 15px;
}
.fa-brands {
  margin-right: 9px;
}
.banner-btn1 {
  border-radius: 48px;
  background: #ff42a5;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 32px;
  margin-right: 12px;
}
.banner-btn2 {
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 32px;
}
.img img {
  width: 550px;
}

/* online games section style  */
.games-content {
  text-align: center;
  margin-top: 70px;
}
.games-content h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: #0b0223;
  margin-bottom: 10px;
}
.funny-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-content p {
  font-size: 14px;
  font-weight: 400;
  color: #534c64;
}

/* card style  */
.all-card {
  display: flex;
  justify-content: space-between;
  padding: 45px 130px;
  gap: 10px;
}
.card img {
  width: 255px;
  margin-bottom: 10px;
}
.card p {
  color: #534c64;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  width: 250px;
}

/* play instantly section style  */
.play {
  text-align: right;
  display: flex;
  justify-content: space-around;
  padding: 30px 130px;
  align-items: center;
}
.play-content {
  margin-left: 110px;
}
.play-content h2 {
  color: #0b0223;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 125%;
  width: 300px;
  margin-bottom: 10px;
}
.play-content p {
  color: #534c64;
  font-size: 14px;
  font-weight: 400px;
  line-height: 145%;
  width: 300px;
}
.play-btn1 {
  width: 430px;
}
.play-btn2 {
  position: relative;
  width: 220px;
  top: 55px;
  left: 120px;
}

/* responsive design  */
/* design for mobile device */
@media screen and (max-width: 576px) {
  .nav,
  .nav ul {
    flex-direction: column;
  }
  .nav ul {
    gap: 25px;
  }
  .nav {
    padding: 0;
    margin-top: 50px;
  }
  .nav-title {
    margin-bottom: 30px;
  }
  .nav-btn {
    margin-bottom: 10px;
  }
}

/* design for medium device  */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav {
    flex-direction: column;
  }
  .nav-title {
    margin-bottom: 15px;
  }
}
